#biu_wrapper {
	position: fixed;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	top: 0;
	left: 0;
	z-index: 999;
	pointer-events: none;
}

.biu_text {
	position: absolute;
	z-index: 999;
	pointer-events: none;
	right: 0;
    color: #FFF;
    visibility: hidden;
    white-space:nowrap;

    font-size: 2.4em;
    text-shadow: 0px 0px 5px #000;

    animation: biu 8s linear;
    -moz-animation: biu 8s linear; /* Firefox */
    -webkit-animation: biu 8s linear;  /* Safari å’Œ Chrome */

}

@keyframes biu {
    from {right: 0;visibility: visible;}
    to {right: 120%;}
}

@-moz-keyframes biu {
    from {right: 0;visibility: visible;}
    to {right: 120%;}
}

@-webkit-keyframes biu {
    from {right: 0;visibility: visible;}
    to {right: 120%;}
}
